@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&display=swap');

$primary: #cc343c;

$theme-colors: (
  "primary": $primary
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* -------------- UNIVERSAL -------------- */
* {
    font-family: 'Arimo', sans-serif !important; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 7px;
}

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

@mixin grid($row, $column, $rowg, $columng) {
    display: grid;
    grid-template-rows: $row;
    grid-template-columns: $column;
    grid-row-gap: $rowg;
    grid-column-gap: $columng;
}

@mixin flex($dir, $justify, $align) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
}

.card {
    border: 2px solid rgb(202, 202, 202);
    border-radius: 6px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.img {
    @include sizes(100%, auto);
    border-radius: 6px;
}



/* -------------- SMALL -------------- */

/* ========== MENU ============ */
.navbar-brand-img{
    @include sizes(128px, auto);
}

/* ========== HEADER (INDEX) ============ */
.header {
    @include sizes(100%, 90vh);
    background-image: url(../img/header.jpg);
    background-size: cover;
    @include flex(row, center, center);

    &-content {
        @include sizes(auto, auto);
        text-align: center;
        background-color: #f8f9fa;
        border-radius: 10px;
        padding: 20px;
    }

    &-title {
        @extend .title;
    }

}


/* ========= SERVICIOS (INDEX) ========= */
.serv {
    margin: 30px 0;

    &-cards {
        @include grid(1fr 1fr 1fr, 1fr, 10px, 0);
    }

    &-card {
        @extend .card;
        @include flex(column, center, center);
        text-align: center;
        padding: 10px;
    }

    &-card-img {
        width: 128px;
    }

    &-card-title {
        @extend .title;
        margin-bottom: 0;
    }

    &-card-text {
        margin-bottom: 0;
    }   
}

/* ========= INFORMACIÓN (INDEX) ========= */
.information {
    background-color: #24242c;
    padding: 15px 0;

    &-title {
        @extend .title;
        color: #fff;
    }

    &-contents {
        @include grid(auto auto auto auto, 1fr, 20px, 0px);
    }

    &-content {
        color: #fff;
        @include flex(column, flex-start, stretch);
    }

    &-img {
        @extend .img;
    }
}

/* ========= REFERENCIAS (INDEX) ========= */
.references {
    margin: 30px 0;

    &-customers {
        @include grid(auto auto auto, 1fr, 15px, 0px)
    }

    &-title {
        @extend .title;
    }

    &-customer {
        @include flex(column, center, center);
        @extend .card;
        padding: 10px;
    }

    &-customer-name {
        @extend .title;
        font-size: 24px;
        margin-bottom: 0;
    }

    &-customer-img {
        @extend .img;
    }

}

/* ========= ASEGURADORAS (INDEX) ========= */
.insurers {
    margin: 30px 0;
}

.insurers-title {
    @extend .title;
}

.insurers-grid {
    @include grid(auto auto auto, 1fr, 20px, 0);
}

.insurers-img {
    @extend .img;
}


/* ========= FOOTER ========= */
.img-social {
    width: 64px;
}

.img-social:hover {
    opacity: 0.3;
}

/* ========= NOSOTROS ========= */
.us {
    &-title {
        @extend .title;
        background-color: $primary;
        color: #FFF;
        border-radius: 3px;
        padding: 5px 0;
        margin-top: 30px;
    }

    &-cards {
        @include grid(auto auto, 1fr, 20px, 0px);
        margin-bottom: 30px;
    }

    &-card {
        @extend .card;
    }

    &-card-img {
        @include sizes(100%, auto);
    }

    &-card-text {
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    &-button {
        margin-bottom: 20px;
    }
}

/* ========= SERVICIOS ========= */
.services {
    margin: 30px 0;

    &-title {
        @extend .title;
    }
    
    &-grid {
        @include grid(repeat(6, auto), 1fr, 10px, 0);
    }
    
    &-content-title {
        @extend .title;
    }
    
    &-content-text {
        margin-bottom: 10px;
    }
    
    &-img {
        @extend .img;
    }
    
    .btn-vida {
        @include sizes(100%, auto);
    }
}

/* ========= FAQS ========= */
.faqs {
    margin-bottom: 30px;

    &-title {
        @extend .title;
        background-color: $primary;
        color: #FFF;
        border-radius: 3px;
        padding: 5px 0;
        margin-top: 30px;
    }
}

/* ========= CONTACTO ========= */
.contact {
    margin-bottom: 30px;

    &-title {
        @extend .title;
        background-color: $primary;
        color: #FFF;
        border-radius: 3px;
        padding: 5px 0;
        margin-top: 30px;
    }
    
    &-grid {
        @include grid(auto auto auto auto, 1fr, 20px, 0px)
    }

    &-img {
        @include sizes(100%, auto);
        border-radius: 6px;
    }


}

/* -------------- MEDIUM -------------- */
@media (min-width: 768px) {

    /* ========= REFERENCIAS (INDEX) ========= */
    .references-customers {
        @include grid(1fr, 30% 30% 30%, 0px, 20px);
        justify-content: center;
    }

    /* ========= ASEGURADORAS (INDEX) ========= */
    .insurers-grid{
        @include grid(1fr, 30% 30% 30%, 0px, 20px);
        justify-content: center;
    }
}

/* -------------- LARGE -------------- */
@media (min-width: 992px) {

    /* ========= SERVICIOS (INDEX) ========= */
    .serv-cards {
        @include grid(1fr, 30% 30% 30%, 0px, 20px);
        justify-content: center;
    }

    /* ========= INFORMACIÓN (INDEX) ========= */
    .information-contents {
        @include grid(auto auto, auto auto, 20px, 20px);
        justify-content: center;
        align-items: center;
    }

    /* ========= SERVICIOS ========= */
    .services-grid {
        @include grid(auto auto auto auto, 45% 45%, 30px, 20px);
        justify-content: center;
    }

    .services-content {
        @include flex(column, center, stretch);
    }

    /* ========= NOSOTROS ========= */
    .us {
        &-cards {
            @include grid(1fr, 48% 48%, 0px, 20px);
            justify-content: center;
        }
    }
    /* ========= CONTACTO ========= */
    .contact{
        &-grid {
            @include grid(auto auto, 45% 45%, 20px, 20px);
            justify-content: center;
            align-items: center;
        }
    }
    
}